@charset "UTF-8";

@font-face {
  font-family: 'iconfont';
  /* project id 682850 */
  src: url("//at.alicdn.com/t/font_682850_58yfbhz7jvf.eot");
  src: url("//at.alicdn.com/t/font_682850_58yfbhz7jvf.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_682850_58yfbhz7jvf.woff") format("woff"), url("//at.alicdn.com/t/font_682850_58yfbhz7jvf.ttf") format("truetype"), url("//at.alicdn.com/t/font_682850_58yfbhz7jvf.svg#iconfont") format("svg");
}

@font-face {
  font-family: 'meituan';
  src: url(//s0.meituan.net/bs/fe-web-meituan/c19c6e9/font/home-category-iconfont.eot?t=1503027869484);
  src: url(//s0.meituan.net/bs/fe-web-meituan/c19c6e9/font/home-category-iconfont.eot?t=1503027869484#iefix) format("embedded-opentype"), url(//s0.meituan.net/bs/fe-web-meituan/c19c6e9/font/home-category-iconfont.woff?t=1503027869484) format("woff"), url(//s0.meituan.net/bs/fe-web-meituan/c19c6e9/font/home-category-iconfont.ttf?t=1503027869484) format("truetype"), url(//s0.meituan.net/bs/fe-web-meituan/c19c6e9/font/home-category-iconfont.svg?t=1503027869484#home-category-iconfont) format("svg");
}

.layout-blank {
  background-color: #fff;
  color: #2e2f30;
  letter-spacing: 0.5px;
  font-family: "Source Sans Pro", Arial, sans-serif;
  height: 100vh;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
}

body * {
  margin: 0;
  padding: 0;
}

footer {
  text-align: center;
}

a,
a:hover,
a:focus,
a:visited {
  color: #41B883;
}

.logo {
  width: 243px;
  height: 218px;
}

.page-enter-active,
.page-leave-active {
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.page-enter,
.page-leave-active {
  opacity: 0;
}

/*
layout.scss
*/

.el-header,
.el-main,
.el-footer {
  width: 1190px;
  margin: 0 auto;
  padding: 0;
  overflow: unset;
}

.el-header {
  background: #F8F8F8;
  color: #999;
  width: 100%;
  font-size: 12px;
}

.el-header .m-header {
  width: 1190px;
  margin: 0 auto;
}

.layout-default {
  -webkit-font-smoothing: antialiased;
  font-family: "-apple-system", BlinkMacSystemFont, Roboto, "Helvetica Neue", "MIcrosoft YaHei", sans-serif !important;
  background-color: #F8F8F8;
}

/**
  头部样式，包含topBar和searchBar样式
 */

.el-header .m-header.m-header-topbar {
  width: 1190px !important;
  z-index: 9999;
  height: 40px;
  line-height: 40px;
  z-index: 9;
}

.m-header .m-geo {
  color: #666;
  font-size: 12px;
}

.m-header .m-geo .changeCity {
  background: #F4F4F4;
  border: 1px solid #E5E5E5;
  border-radius: 2px;
  color: #666;
  margin: 0 4px;
  padding: 0 2px;
}

.m-header .m-geo .changeCity:hover {
  color: #31BBAC;
}

.m-header .m-geo .username {
  color: #31BBAC;
  cursor: pointer;
}

.m-header .m-geo .login,
.m-header .m-geo .register {
  font-size: 12px;
  line-height: 40px;
  color: #999;
  margin: 0 5px;
}

.m-header .m-geo .login.login,
.m-header .m-geo .register.login {
  color: #31BBAC;
  margin: 0 5px 0 20px;
}

.m-header .m-geo .login:hover,
.m-header .m-geo .register:hover {
  color: #31BBAC;
}

.m-header .m-nav {
  float: right;
  margin: 0;
  padding: 0;
  z-index: 999;
}

.m-header .m-nav .nav {
  list-style: none;
  float: right;
  height: 40px;
}

.m-header .m-nav .nav > li {
  float: left;
  width: 78px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  cursor: pointer;
}

.m-header .m-nav .nav > li a {
  color: #999;
}

.m-header .m-nav .nav > li a:hover {
  color: #31BBAC;
}

.m-header .m-nav .nav > li.list:hover {
  border: 1px solid #E5E5E5;
  border-top: none;
}

.m-header .m-nav .nav > li.list:hover > dl {
  display: block;
}

.m-header .m-nav .nav > li.list:hover .subContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.m-header .m-nav .nav > li dl {
  background: #fff;
  display: none;
  z-index: 999;
}

.m-header .m-nav .nav > li dl dd {
  line-height: 35px;
}

.m-header .m-nav .nav > li dl dd:hover {
  color: #31BBAC;
}

.m-header .m-nav .nav > li.bd dl {
  width: 140%;
  position: relative;
  border-top: 1px solid #e5e5e5;
  left: -31px;
  top: -1px;
  border-bottom: 1px solid #e5e5e5;
  border-left: 1px solid #E5E5E5;
  position: relative;
}

.m-header .m-nav .nav > li.bd dl:before {
  content: " ";
  display: block;
  background: #fff;
  height: 4px;
  width: 76px;
  position: absolute;
  top: -1px;
  right: 0;
}

.m-header .m-nav .nav > li.bd:hover {
  border-bottom: none;
}

.m-header .m-nav .nav > li.site:hover {
  border-bottom: none;
}

.m-header .m-nav .nav > li .subContainer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  padding: 30px 36px 36px 47px;
  width: 1250px;
  position: relative;
  left: -1175px;
  z-index: 999;
  border: 1px solid #e5e5e5;
  display: none;
  text-align: left;
}

.m-header .m-nav .nav > li .subContainer:before {
  content: ' ';
  display: block;
  width: 76px;
  height: 4px;
  background: #fff;
  position: absolute;
  top: -1px;
  right: 0;
}

.m-header .m-nav .nav > li .subContainer > dl {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: left;
  display: inline-block !important;
  margin-right: 47px;
}

.m-header .m-nav .nav > li .subContainer > dl dt {
  margin-bottom: 26px;
  font-size: 14px;
  color: #31BBAC;
  text-align: center;
}

.m-header .m-nav .nav > li .subContainer > dl dd {
  width: 78px;
  display: inline-block;
  text-align: center;
}

.m-header .m-nav .nav > li .subContainer > dl.hotel {
  width: 234px;
}

.m-header .m-nav .nav > li .subContainer > dl.food {
  width: 156px;
}

.m-header .m-nav .nav > li .subContainer > dl.movie {
  width: 90px;
}

.m-header .m-nav .nav > li .subContainer > dl.movie dd {
  width: 100%;
}

.m-header .m-nav .nav > li .subContainer > dl.app {
  width: 380px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.m-header .m-nav .nav > li .subContainer > dl.app dd {
  width: 60px;
  height: 73px;
  line-height: 73px;
  text-align: center;
  margin: 0 8px;
}

.m-header .m-nav .nav > li .subContainer > dl.app dd img {
  width: 60px;
  height: 60px;
}

.m-header .m-header-searchbar {
  height: 157px;
  padding: 20px 20px;
  background: #fff;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.m-header .m-header-searchbar .left {
  width: 280px;
  padding-top: 15px;
}

.m-header .m-header-searchbar .left img {
  width: 126px;
  height: 46px;
}

.m-header .m-header-searchbar .center {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: auto;
}

.m-header .m-header-searchbar .center .wrapper {
  margin-top: 16px;
  border: 1px solid #13D1BE;
  border-radius: 4px;
  width: 552px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  white-space: nowrap;
}

.m-header .m-header-searchbar .center .wrapper .el-input {
  width: 462px;
}

.m-header .m-header-searchbar .center .wrapper input {
  border: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.m-header .m-header-searchbar .center .wrapper .el-button {
  width: 88px;
  border: none;
  background: #13D1BE;
  font-size: 16px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  vertical-align: -1px;
}

.m-header .m-header-searchbar .center .wrapper .el-button i {
  font-weight: bold;
}

.m-header .m-header-searchbar .center .wrapper .hotPlace,
.m-header .m-header-searchbar .center .wrapper .searchList {
  position: absolute;
  top: 41px;
  left: 0;
  background: #fff;
  padding: 10px;
  font-size: 12px;
  width: 462px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #E5E5E5;
  border-top: none;
  z-index: 999;
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.m-header .m-header-searchbar .center .wrapper .hotPlace dt,
.m-header .m-header-searchbar .center .wrapper .searchList dt {
  color: #999;
  font-weight: bold;
}

.m-header .m-header-searchbar .center .wrapper .hotPlace dd,
.m-header .m-header-searchbar .center .wrapper .searchList dd {
  display: inline-block;
  color: #666;
  margin-right: 10px;
  margin-bottom: 3px;
  margin-top: 5px;
  cursor: pointer;
}

.m-header .m-header-searchbar .center .wrapper .hotPlace dd:hover,
.m-header .m-header-searchbar .center .wrapper .searchList dd:hover {
  background: #F8F8F8;
  color: #31BBAC;
}

.m-header .m-header-searchbar .center .wrapper .hotPlace.searchList,
.m-header .m-header-searchbar .center .wrapper .searchList.searchList {
  padding: 0;
  margin: 0;
}

.m-header .m-header-searchbar .center .wrapper .hotPlace.searchList dd,
.m-header .m-header-searchbar .center .wrapper .searchList.searchList dd {
  margin: 0;
  padding: 3px 10px;
  display: block;
  line-height: 1.6;
}

.m-header .m-header-searchbar .center .suggest {
  width: 552px;
  overflow: hidden;
  padding-left: 16px;
  line-height: 1;
  margin-top: 8px;
  height: 14px;
}

.m-header .m-header-searchbar .center .suggest a {
  color: #999;
  margin-right: 10px;
  margin-bottom: 3px;
  display: inline-block;
  font-size: 12px;
}

.m-header .m-header-searchbar .center .suggest a:hover {
  color: #31BBAC;
}

.m-header .m-header-searchbar .center .nav {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
}

.m-header .m-header-searchbar .center .nav li {
  font-weight: 700;
  font-size: 16px;
  margin: 0 20px;
  cursor: pointer;
  position: relative;
}

.m-header .m-header-searchbar .center .nav li a {
  color: #222;
}

.m-header .m-header-searchbar .center .nav li a:hover {
  color: #f04d4e;
}

.m-header .m-header-searchbar .center .nav li a.takeout:hover {
  color: #fbc700;
}

.m-header .m-header-searchbar .center .nav li a.apartment:hover {
  color: #FDC411;
}

.m-header .m-header-searchbar .center .nav li a.business:hover {
  color: #31BBAC;
}

.m-header .m-header-searchbar .right {
  text-align: right;
  padding-top: 15px;
}

.m-header .m-header-searchbar .right .security li {
  display: inline-block;
  text-align: center;
  padding: 0 5px;
}

.m-header .m-header-searchbar .right .security i {
  font-style: normal;
}

.m-header .m-header-searchbar .right .security i:after {
  font-family: iconfont;
  font-size: 36px;
  color: #13D1BE;
}

.m-header .m-header-searchbar .right .security .refund:after {
  content: '\E65F';
}

.m-header .m-header-searchbar .right .security .single:after {
  content: '\E652';
}

.m-header .m-header-searchbar .right .security .overdue:after {
  content: '\E65E';
}

.m-header .m-header-searchbar .right .security .txt {
  color: #999;
  font-size: 12px;
  line-height: 1;
  margin: 0;
  text-align: center;
}

.layout-default .el-header .m-header {
  width: 100%;
}

.m-header > .el-row:nth-child(1) {
  width: 1190px;
  margin: 0 auto;
  z-index: 9999;
  height: 40px;
  line-height: 40px;
}

.m-header > .el-row:nth-child(2) {
  background: #fff;
}

.m-header > .el-row:nth-child(2) .search-panel {
  width: 1190px;
  margin: 0 auto;
}

.m-header > .el-main {
  overflow: unset;
}

